{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["prettier", "react-app", "react-app/jest"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  }
}
